#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        zenkaku {
            bindings = <&kp LANG1>;
            key-positions = <19 20>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <13 14>;
        };

        hannkaku {
            bindings = <&kp LANG2>;
            key-positions = <15 16>;
        };
    };

    behaviors {
        layer_tap_ori: layer_tap_ori {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_ORI";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        mod_tap_ori: mod_tap_ori {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_ORI";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans                     &trans    &trans                   &trans                     &trans                                                     &trans                        &trans                      &trans                    &trans                             &trans                      &trans
&trans  &kp Q                      &kp L     &kp U                    &kp COMMA                  &kp PERIOD                                                 &layer_tap_ori 4 F            &kp W                       &layer_tap_ori 9 R        &kp Y                              &kp P                       &trans
&trans  &layer_tap_ori 5 E         &kp I     &mod_tap_ori LEFT_ALT A  &mod_tap_ori LEFT_SHIFT O  &mod_tap_ori LEFT_CONTROL MINUS  &trans     &trans         &mod_tap_ori RIGHT_CONTROL K  &mod_tap_ori RIGHT_SHIFT T  &mod_tap_ori RIGHT_ALT N  &layer_tap_ori 7 S                 &lt 5 H                     &trans
&trans  &mod_tap_ori LEFT_SHIFT Z  &kp X     &kp C                    &layer_tap_ori 3 V         &kp SEMICOLON                    &kp SPACE  &kp DELETE     &kp G                         &kp D                       &layer_tap_ori 2 M        &kp J                              &mod_tap_ori RIGHT_SHIFT B  &trans
&trans  &kp LCTRL                  &kp LGUI  &kp LALT                 &kp BSPC                   &kp SPACE                        &kp TAB    &kp BACKSPACE  &lt 8 ENTER                   &trans                      &trans                    &layer_tap_ori 6 NON_US_BACKSLASH  &mod_tap_ori RCTRL SLASH    &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans               &trans             &trans        &trans                &trans                           &trans             &trans  &trans  &trans  &trans  &trans
&trans  &kp LS(EXCLAMATION)  &kp LS(AT_SIGN)    &kp HASH      &kp LS(DOLLAR)        &kp LS(PERCENT)                  &kp LS(AMPERSAND)  &trans  &trans  &trans  &trans  &trans
&trans  &kp EQUAL            &kp PLUS           &kp MINUS     &kp ASTERISK          &kp SLASH        &trans  &trans  &trans             &trans  &trans  &trans  &trans  &trans
&trans  &kp SQT              &kp DOUBLE_QUOTES  &kp QUESTION  &kp NON_US_BACKSLASH  &kp TILDE        &trans  &trans  &trans             &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL            &kp AMPERSAND      &trans        &trans                &trans           &trans  &trans  &trans             &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                      &trans                  &trans                   &trans            &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                      &kp LC(PLUS)            &kp LC(MINUS)            &trans            &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &kp LG(LEFT)            &kp LG(DOWN)             &kp LG(UP_ARROW)  &kp LG(RIGHT)   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &kp LG(LC(LEFT_ARROW))  &kp LC(LG(RIGHT_ARROW))  &kp LC(LG(D))     &kp LG(LC(F4))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp DELETE  &trans                  &trans                   &trans            &trans          &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans          &trans        &trans        &trans           &trans                                 &trans          &trans          &trans              &trans           &trans  &trans
&trans  &trans          &trans        &trans        &trans           &trans                                 &trans          &trans          &trans              &trans           &trans  &trans
&trans  &trans          &kp LEFT_ALT  &kp LEFT_ALT  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW        &kp RIGHT_ARROW  &trans  &trans
&trans  &kp LEFT_SHIFT  &trans        &trans        &trans           &trans             &trans  &trans      &kp HOME        &kp END         &kp LA(LEFT_ARROW)  &trans           &trans  &trans
&trans  &kp RCTRL       &trans        &trans        &trans           &trans             &trans  &kp DELETE  &trans          &trans          &trans              &trans           &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans             &trans                &trans        &trans        &trans                        &trans        &trans        &trans        &trans        &trans        &trans
&trans  &bt BT_SEL 0       &bt BT_SEL 1          &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC  &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans             &trans                &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB3  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N7        &kp N8        &kp N9        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans                &trans                 &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                &trans                 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
